*{
    margin: 0;
    padding: 0;
}

body{
    background: #03506e;
    color: #ffffff;
}

#top-section{
    width: 100%;
    height: 4rem;
    background: #03506e;
}
.success{
    background: rgb(84, 255, 62);
    color: #ffffff;
    padding: 1rem;
}

.error{
    background: rgb(255, 62, 62);
    color: #ffffff;
    padding: 1rem;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 36px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1rem;
  }

  .btnSubmit
  {
    width: 100%;
  }

  .button-30:hover{
    color: #62faff;
    background: #03506e;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#6cf8f1 0 -3px 0 inset;
  }