*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
	color:#666f80;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
    background-color: rgb(223, 223, 223);
}
.wrapper {
    max-width: 100%;
    min-height: 31.25rem;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    }

.wrapper img{
    height: 100%;
    width: 12rem;
    margin-bottom: 0.5rem;
}
  
.wrapper p {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #555;
    text-align: center;
    font-weight: bolder;
    }

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  width: 100%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-31 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #003983 0 3px 7px inset;
  transform: translateY(2px);
}

@media(max-width: 991px) {
    .wrapper .name {
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 1.3px;
        padding-left: 10px;
        color: #555;
        }
    .wrapper p {
            font-weight: 400;
            font-size: 0.8rem;
            letter-spacing: 1px;
            color: #555;
            }
    .wrapper img{
        height: 100%;
        width: 8rem;
        margin-bottom: 0.5rem;
    }
    
}

@media(max-width: 768px) {
    .wrapper {
    margin: 1.3rem 1rem;
    } 
}

@media(max-width: 576px) {
    .wrapper p {
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 1px;
        color: #555;
        margin:1rem 0 0 0;
        }
}

@media(max-width: 380px) {
    .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
    }
    .wrapper p {
        font-weight: 400;
        font-size: 0.8rem;
        text-align: justify ;
        letter-spacing: 1px;
        color: #555;
        }
        
}
@media(max-width: 375px) {
     .button-30{
        height: 2rem;
        font-size: 0.9rem;
     }
}
@media(max-width: 325px) {
    .button-30{
       height: 1.5rem;
       font-size: 0.7rem;
    }
}