*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.our_history{
    background-image: linear-gradient(rgba(45, 107, 104, 0.8), rgb(50, 112, 131, 0.5)), url("../img/img-1.2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

#Our-history h1{
    color: #ffffff;
    font-weight: bold;
    margin-top: 10%;
}

.head_history{
    color: #17f9fd;
    text-align: center;
}

.border_box{
    border-radius: 10px;
    box-shadow: 10px 10px 5px 10px rgb(0, 0, 0, 0.3);
}

#Our-history-text .justify-text {
    text-align: justify;
}

.img-fulid{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.img-fulid:hover{
    width: 95%;
    height: 95%;
    transition: .5s;
}

.our_mission{
    background-image: linear-gradient(rgba(45, 107, 104, 0.8), rgb(50, 112, 131, 0.5)), url("../img/img-2.2 (6).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

#Our-Mission h1{
    color: #ffffff;
    font-weight: bold;
    margin-top: 10%;
}

#Our-Mission .head_mission{
    color: #17f9fd;
    text-align: center;
}

#Our-Mission .justify-text{
    text-align: justify;
}

.our_vision{
    background-image: linear-gradient(rgba(45, 107, 104, 0.8), rgb(50, 112, 131, 0.5)), url("../img/img-2.2 (2).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

#Our-Vision h1{
    color: #ffffff;
    font-weight: bold;
    margin-top: 10%;
}

#Our-Vision .head_Vision{
    color: #17f9fd;
    text-align: center;
}

#Our-Vision .justify-text{
    text-align: justify;
}
