*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-visa{
    background-image: linear-gradient(rgba(45, 107, 104, 0.8), rgb(50, 112, 131, 0.5)), url("../img/img-2.4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

#work-visa h1{
    color: #ffffff;
    font-weight: bold;
    margin-top: 10%;
}

.card-text{
    text-align: justify;
}

.work-country .head{
    background: #699dff;
    color: #ffffff;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
    font-size: 3.5rem;
}

.work-country .head:hover{
    font-size: 3rem;
    background: #00eeff;
    color: #ffffff;
    transition: 0.5s;
}